#settings {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    padding: 1%;
    cursor: pointer;
}

.open-button {
    all: unset;
}
#pdf-viewer{
    padding-top: 5%;
    width:100vw;
    height: 100vh;
}